[submodule "gdbinit"]
	path = gdbinit
	url = https://github.com/bchretien/Gdbinit
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/bchretien/oh-my-zsh
[submodule "spf13-vim"]
	path = spf13-vim
	url = https://github.com/bchretien/spf13-vim.git
