gmail.dat
*.local
config/mopidy/mopidy.conf
editor/vim
editor/vimrc
editor/vimrc.before
editor/vimrc.bundles
media/mpd/mpd.db
media/mpd/mpd.log
media/mpd/mpd.pid
media/mpd/mpd.state
media/mpd/playlists/*
media/mpd/sticker.sql
media/ncmpcpp/artists/*
term/tmux/plugins/*
term/weechat/*
