[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/bchretien/oh-my-zsh
[submodule "spf13-vim"]
	path = spf13-vim
	url = https://github.com/bchretien/spf13-vim.git
[submodule ".git_template"]
	path = .git_template
	url = https://github.com/bchretien/git_template
[submodule ".conky-themes"]
	path = .conky-themes
	url = https://github.com/bchretien/conky-themes
[submodule ".fonts"]
	path = .fonts
	url = https://github.com/Lokaltog/powerline-fonts
[submodule "dotgdb"]
	path = dotgdb
	url = https://github.com/bchretien/Gdbinit
[submodule ".i3"]
	path = .i3
	url = https://github.com/bchretien/i3-config.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
