[submodule "git_template"]
	path = dev/git_template
	url = https://github.com/bchretien/git_template
[submodule "fonts"]
	path = util/fonts
	url = https://github.com/Lokaltog/powerline-fonts
[submodule "dotgdb"]
	path = dev/dotgdb
	url = https://github.com/bchretien/Gdbinit
[submodule "i3"]
	path = gui/i3
	url = https://github.com/bchretien/i3-config.git
[submodule "tmux/plugins/tpm"]
	path = term/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "zprezto"]
	path = term/zsh/zprezto
	url = https://github.com/bchretien/prezto.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "editor/emacs.d"]
	path = editor/emacs.d
	url = https://github.com/syl20bnr/spacemacs
[submodule "editor/vim/vim-plug"]
	path = editor/vim/vim-plug
	url = https://github.com/junegunn/vim-plug
[submodule "dev/lldbinit"]
	path = dev/dotlldb
	url = https://github.com/bchretien/lldbinit.git
[submodule "term/tmuxifier"]
	path = term/tmuxifier
	url = https://github.com/jimeh/tmuxifier.git
